<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <contextListener class="io.github.simplydemo.logback.listener.LogbackContextListener"/>

    <appender name="COLLECTOR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.log</file>
        <append>true</append>
        <rollingPolicy class="io.github.simplydemo.logback.ext.rolling.SizeAndTimeBasedS3RollingPolicy">
            <region>${AWS_REGION}</region>
            <bucket>${AWS_BUCKET}</bucket>
            <profile>${AWS_PROFILE}</profile>
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d{yyyyMMdd-HHmm}.%i.log</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="io.github.thenovaworks.logback.encoder.MessageOnlyEncoder"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="DataCollector.default.ingest" level="TRACE" additivity="false">
        <appender-ref ref="COLLECTOR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
