<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="S3FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/logs/collector.log</file>
        <append>true</append>
        <rollingPolicy class="io.github.simplydemo.logback.ext.rolling.SizeAndTimeBasedS3RollingPolicy">
            <profile>opsdev-sts</profile>
            <region>ap-northeast-1</region>
            <bucket>otcmp-tbd-artifact-s3</bucket>
            <fileNamePattern>/tmp/logs/collector.%d{yyyyMMdd-HHmm}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="io.github.thenovaworks.logback.encoder.MessageOnlyEncoder"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="COLLECTOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="io.github.thenovaworks.logback.encoder.MessageOnlyEncoder"/>
    </appender>

    <logger name="DataCollector.default.ingest" level="TRACE" additivity="false">
        <appender-ref ref="S3FILE"/>
        <appender-ref ref="COLLECTOR"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
